<table id="memory_modules">
  <tr>
    <td>
      <h1>Editing Memory module</h1>
      <%= render 'form' %>
      <%= link_to 'Show', @memory_module %> |
      <%= link_to 'Back', memory_module_path %>
    </td>
  </tr>
</table>