<table id="network_interfaces">
  <tr>
    <td>
      <h1>New Network interface</h1>
      <%= render 'form' %>
      <%= link_to 'Back', device_network_interface_card_network_interfaces_path %>
    </td>
  </tr>
</table>