#color_circle
  width: 15px
  height: 15px
  -moz-border-radius: 50px
  -webkit-border-radius: 50px
  border-radius: 50px

$dg-form-label: 100px

#specialfields
  font-family: "Courier"

= clearfix
  *zoom: 1

  &:before,
  &:after
    display: table
    content: ''

  &:after
    clear: both

=inline-block
  display: inline-block
  zoom: 1
  *display: inline

table.datagrid

  width: 100%
  max-width: 100%
  margin-bottom: 20px

  background-color: transparent
  border-collapse: collapse
  box-sizing: border-box
  border-spacing: 0
  -webkit-border-horizontal-spacing: 0px
  -webkit-border-vertical-spacing: 0px
  border-color: gray

  tbody>tr:nth-child(odd)
    background-color: #f9f9f9

  thead
    display: table-header-group
    vertical-align: middle
    border-color: inherit
    border-spacing: 2px

  tbody
    display: table-row-group
    vertical-align: middle
    border-color: inherit

  tr
    display: table-row
    vertical-align: inherit
    border-color: inherit

  th
    border-top: 0
    vertical-align: bottom
    border-bottom: 2px solid #ddd
    padding: 2px
    line-height: 1.42857143
    text-align: left
    font-weight: bold
    display: table-cell
    border-top: 1px solid #ddd

  td
    display: table-cell
    font-family: verdana, arial, helvetica, sans-serif
    font-size: 13px
    padding: 2px
    line-height: 1.42857143
    vertical-align: top
    border-top: 1px solid #ddd

    .order
      a.asc, a.desc
        text-decoration: none
        font-weight: normal

    &.ordered
      #background-color: #cccccc

      &.asc
        a.asc
          font-weight: bold
          color: #d00

      &.desc
        a.desc
          font-weight: bold
          color: #d00
  .noresults
    text-align: center

.datagrid-form
  background-color: #f0f0f0
  border-radius: 5px
  padding: 2px

.datagrid-filter
  margin: 5px
  +clearfix

  label
    width: $dg-form-label
    float: left
    font-size: 12px
    font-weight: normal

  a
    float: left

  input[class*='filter']
    border: 1px solid #ccc
    border-radius: 4px
    float: left
    //padding: 5px 12px
    width: 207px

    &.from, &.to
      width: 83px

  select
    float: left
    width: 235px

    &[multiple]
      border: 2px solid #ccc
      border-radius: 5px
      height: 100px
    &.dynamic_filter
      &.field
        width: 178px
      &.operation
        margin-left: 7px
        width: 50px
  input.dynamic_filter.value
    margin: 10px 0 0 $dg-form-label
    clear: both

  .separator
    float: left
    margin: 6px 4px 0
  .enum_filter.checkboxes
    float: none
    display: block
    input
      margin: 7px
    margin-left: 150px


.datagrid-actions
  padding-left: $dg-form-label +10

  input[type='submit']
    background-color: #555
    border: none
    border-radius: 5px
    color: white
    cursor: pointer
    font-size: 10px
    font-weight: normal
    line-height: normal
    padding: 7px 15px
    vertical-align: middle
    +inline-block

    &:hover,
    &:focus
      background-color: #333

    &:active
      background-color: #000

  > a
    font-size: 14px
    padding: 7px 15px
    vertical-align: middle
    +inline-block