#programs {
  height: 100%;
  width: 100%;
  background-color: white;
  background-image: none;
  color: black;
  td {
    vertical-align: top;
    padding-left: 5px;
  }
}

#datatable {
  thead {
    background-color: #2E2F30;
    color: white;
    border: solid #666666 1px;
  }
  tbody {
    border: solid #666666 1px;
  }
  td {
    border: solid #666666 1px;
  }
}