<table id="network_interface_cards">
  <tr>
    <td>
      <h1>New Network interface card</h1>
      <%= render 'form' %>
      <%= link_to 'Back', device_network_interface_cards_path(@device) %>
    </td>
  </tr>
</table>